<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Coordenada</title>
</head>
<body>
    <h1>Agregar Coordenada</h1>
    <form method="POST" action="{{ url_for('agregar_coordenada') }}">
        <label for="nombre_lugar">Nombre del lugar:</label>
        <input type="text" id="nombre_lugar" name="nombre_lugar" required>
        <button type="submit">Agregar Coordenada</button>
    </form>
</body>
</html>
