<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9646f8336bada839562c2acd6be2703b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_9646f8336bada839562c2acd6be2703b" ></div>
        
</body>
<script>
    
    
            var map_9646f8336bada839562c2acd6be2703b = L.map(
                "map_9646f8336bada839562c2acd6be2703b",
                {
                    center: [19.996887, -99.517169],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0405f761f1f454d1c888e31e38ad1208 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
                tile_layer_0405f761f1f454d1c888e31e38ad1208.addTo(map_9646f8336bada839562c2acd6be2703b);
    
            var tile_layer_8bececc9ad62c934620c474966901405 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "OpenStreetMap", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
                tile_layer_8bececc9ad62c934620c474966901405.addTo(map_9646f8336bada839562c2acd6be2703b);
    
            var tile_layer_62cab6ada51662a676fd37c5d570de16 = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Esri World Imagery", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
                tile_layer_62cab6ada51662a676fd37c5d570de16.addTo(map_9646f8336bada839562c2acd6be2703b);
    
            var layer_control_b7dfd5de611c3ea1abcb76793a99b88f_layers = {
                base_layers : {
                    "openstreetmap" : tile_layer_0405f761f1f454d1c888e31e38ad1208,
                    "Mapa" : tile_layer_8bececc9ad62c934620c474966901405,
                    "Sat\u00e9lite" : tile_layer_62cab6ada51662a676fd37c5d570de16,
                },
                overlays :  {
                },
            };
            let layer_control_b7dfd5de611c3ea1abcb76793a99b88f = L.control.layers(
                layer_control_b7dfd5de611c3ea1abcb76793a99b88f_layers.base_layers,
                layer_control_b7dfd5de611c3ea1abcb76793a99b88f_layers.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_9646f8336bada839562c2acd6be2703b);

        
    
            var marker_d8bd6fcf22f5670ce304b35b6bad7470 = L.marker(
                [19.996887, -99.517169],
                {}
            ).addTo(map_9646f8336bada839562c2acd6be2703b);
        
    
        var popup_7d3e99f5dc450e7ba6a94aceb1cf2ee7 = L.popup({"maxWidth": "100%"});

        
            
                var html_20b6eae2585062ed11f2678608ca542d = $(`<div id="html_20b6eae2585062ed11f2678608ca542d" style="width: 100.0%; height: 100.0%;">13   Embotelladora Niagara de Mexico, Soyaniquilpan de Juarez</div>`)[0];
                popup_7d3e99f5dc450e7ba6a94aceb1cf2ee7.setContent(html_20b6eae2585062ed11f2678608ca542d);
            
        

        marker_d8bd6fcf22f5670ce304b35b6bad7470.bindPopup(popup_7d3e99f5dc450e7ba6a94aceb1cf2ee7)
        ;

        
    
    
            var marker_a1fc1ec221e864e19b6ad09f3c1155ab = L.marker(
                [20.064901, -99.340475],
                {}
            ).addTo(map_9646f8336bada839562c2acd6be2703b);
        
    
        var popup_fa8437226101d9e3b20aaf6dc425a90f = L.popup({"maxWidth": "100%"});

        
            
                var html_904a2caeb7b2ae097776fe0bef709539 = $(`<div id="html_904a2caeb7b2ae097776fe0bef709539" style="width: 100.0%; height: 100.0%;">17   Atlantes de Tula, Tula de Allende, Hidalgo</div>`)[0];
                popup_fa8437226101d9e3b20aaf6dc425a90f.setContent(html_904a2caeb7b2ae097776fe0bef709539);
            
        

        marker_a1fc1ec221e864e19b6ad09f3c1155ab.bindPopup(popup_fa8437226101d9e3b20aaf6dc425a90f)
        ;

        
    
    
            var poly_line_cc68f34095bd1c4ae77e5d197f8c3db7 = L.polyline(
                [[19.996887, -99.517169], [20.064901, -99.340475]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_9646f8336bada839562c2acd6be2703b);
        
</script>
</html>