<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_485195d284e3cd36106c417b95f17e61 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_485195d284e3cd36106c417b95f17e61" ></div>
        
</body>
<script>
    
    
            var map_485195d284e3cd36106c417b95f17e61 = L.map(
                "map_485195d284e3cd36106c417b95f17e61",
                {
                    center: [19.4326, -99.1332],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c277eb87367d795148f8946c3d087409 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
                tile_layer_c277eb87367d795148f8946c3d087409.addTo(map_485195d284e3cd36106c417b95f17e61);
    
            var marker_798ca6dc7bb1c8b04d1e27e06dd79984 = L.marker(
                [19.4326, -99.1332],
                {}
            ).addTo(map_485195d284e3cd36106c417b95f17e61);
        
    
        var popup_2f36bc922db44aed8ec32984cfba892b = L.popup({"maxWidth": "100%"});

        
            
                var html_944eb661b4ac25db36d81deda8fb2d02 = $(`<div id="html_944eb661b4ac25db36d81deda8fb2d02" style="width: 100.0%; height: 100.0%;">Ciudad de México</div>`)[0];
                popup_2f36bc922db44aed8ec32984cfba892b.setContent(html_944eb661b4ac25db36d81deda8fb2d02);
            
        

        marker_798ca6dc7bb1c8b04d1e27e06dd79984.bindPopup(popup_2f36bc922db44aed8ec32984cfba892b)
        ;

        
    
    
            var marker_d7464ba8871c856f48a915abea1fbcd3 = L.marker(
                [19.2925, -99.6569],
                {}
            ).addTo(map_485195d284e3cd36106c417b95f17e61);
        
    
        var popup_eab782eacf495877be1ffe1ab8bb3a51 = L.popup({"maxWidth": "100%"});

        
            
                var html_41cbc1576d9189dc00c28780a9a07186 = $(`<div id="html_41cbc1576d9189dc00c28780a9a07186" style="width: 100.0%; height: 100.0%;">Toluca</div>`)[0];
                popup_eab782eacf495877be1ffe1ab8bb3a51.setContent(html_41cbc1576d9189dc00c28780a9a07186);
            
        

        marker_d7464ba8871c856f48a915abea1fbcd3.bindPopup(popup_eab782eacf495877be1ffe1ab8bb3a51)
        ;

        
    
    
            var marker_4e14990eb8dca7a2e06f18064e0b7965 = L.marker(
                [19.0402, -98.2062],
                {}
            ).addTo(map_485195d284e3cd36106c417b95f17e61);
        
    
        var popup_215734c7d9f5b55aa51b9cc8146e53ef = L.popup({"maxWidth": "100%"});

        
            
                var html_2cdf7b8355e9efe43ea68cdd424bf922 = $(`<div id="html_2cdf7b8355e9efe43ea68cdd424bf922" style="width: 100.0%; height: 100.0%;">Puebla</div>`)[0];
                popup_215734c7d9f5b55aa51b9cc8146e53ef.setContent(html_2cdf7b8355e9efe43ea68cdd424bf922);
            
        

        marker_4e14990eb8dca7a2e06f18064e0b7965.bindPopup(popup_215734c7d9f5b55aa51b9cc8146e53ef)
        ;

        
    
    
            var marker_d49b46e1f32bfdfaa36bcd117c1b60e1 = L.marker(
                [18.9242, -99.2216],
                {}
            ).addTo(map_485195d284e3cd36106c417b95f17e61);
        
    
        var popup_2429a9f3a0e67e800c77d4248264e4d2 = L.popup({"maxWidth": "100%"});

        
            
                var html_97a5213582d25f1632417e14f841659d = $(`<div id="html_97a5213582d25f1632417e14f841659d" style="width: 100.0%; height: 100.0%;">Cuernavaca</div>`)[0];
                popup_2429a9f3a0e67e800c77d4248264e4d2.setContent(html_97a5213582d25f1632417e14f841659d);
            
        

        marker_d49b46e1f32bfdfaa36bcd117c1b60e1.bindPopup(popup_2429a9f3a0e67e800c77d4248264e4d2)
        ;

        
    
    
            var marker_c754ff4c369a68f51efc7441ba49b8f5 = L.marker(
                [20.5888, -100.3899],
                {}
            ).addTo(map_485195d284e3cd36106c417b95f17e61);
        
    
        var popup_3c47b88e8acd2550b4670a3f2bfdf6e3 = L.popup({"maxWidth": "100%"});

        
            
                var html_2f7f6add31b41c28b1dba0f49615da25 = $(`<div id="html_2f7f6add31b41c28b1dba0f49615da25" style="width: 100.0%; height: 100.0%;">Querétaro</div>`)[0];
                popup_3c47b88e8acd2550b4670a3f2bfdf6e3.setContent(html_2f7f6add31b41c28b1dba0f49615da25);
            
        

        marker_c754ff4c369a68f51efc7441ba49b8f5.bindPopup(popup_3c47b88e8acd2550b4670a3f2bfdf6e3)
        ;

        
    
    
            var marker_d046223a988c1d138ba6828050755d21 = L.marker(
                [20.6597, -103.3496],
                {}
            ).addTo(map_485195d284e3cd36106c417b95f17e61);
        
    
        var popup_6c48137c5fe073f6fcde697aa988eb89 = L.popup({"maxWidth": "100%"});

        
            
                var html_32d2a79ec0482940ae46259236088d0e = $(`<div id="html_32d2a79ec0482940ae46259236088d0e" style="width: 100.0%; height: 100.0%;">Guadalajara</div>`)[0];
                popup_6c48137c5fe073f6fcde697aa988eb89.setContent(html_32d2a79ec0482940ae46259236088d0e);
            
        

        marker_d046223a988c1d138ba6828050755d21.bindPopup(popup_6c48137c5fe073f6fcde697aa988eb89)
        ;

        
    
    
            var marker_054038b1fb5e5b696ad37b81fef5380a = L.marker(
                [25.6866, -100.3161],
                {}
            ).addTo(map_485195d284e3cd36106c417b95f17e61);
        
    
        var popup_70454c859c5d5aaf06f908e88704b06f = L.popup({"maxWidth": "100%"});

        
            
                var html_05552434ea71613d8d715bb6d6fc5077 = $(`<div id="html_05552434ea71613d8d715bb6d6fc5077" style="width: 100.0%; height: 100.0%;">Monterrey</div>`)[0];
                popup_70454c859c5d5aaf06f908e88704b06f.setContent(html_05552434ea71613d8d715bb6d6fc5077);
            
        

        marker_054038b1fb5e5b696ad37b81fef5380a.bindPopup(popup_70454c859c5d5aaf06f908e88704b06f)
        ;

        
    
    
            var tile_layer_da270f70450e81f6b1d82d675d0b426f = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Esri World Imagery", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
                tile_layer_da270f70450e81f6b1d82d675d0b426f.addTo(map_485195d284e3cd36106c417b95f17e61);
    
            var poly_line_9d10603922a38388f37d24ee445f6e9b = L.polyline(
                [[19.0402, -98.2062], [18.9242, -99.2216], [19.4326, -99.1332], [19.2925, -99.6569], [20.5888, -100.3899], [20.6597, -103.3496], [25.6866, -100.3161]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_485195d284e3cd36106c417b95f17e61);
        
</script>
</html>