<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_511390488092287ace23806e4bc3968a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_511390488092287ace23806e4bc3968a" ></div>
        
</body>
<script>
    
    
            var map_511390488092287ace23806e4bc3968a = L.map(
                "map_511390488092287ace23806e4bc3968a",
                {
                    center: [19.4144, -99.1768],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8286f7945da5b19f07b1225054941b4a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
                tile_layer_8286f7945da5b19f07b1225054941b4a.addTo(map_511390488092287ace23806e4bc3968a);
    
            var marker_e395a837d9daede0257a6ff196dae357 = L.marker(
                [19.4144, -99.1768],
                {}
            ).addTo(map_511390488092287ace23806e4bc3968a);
        
    
        var popup_6cb696f50ab3365cd99c6899479db021 = L.popup({"maxWidth": "100%"});

        
            
                var html_280ef4ab60e503b021a80592b46892b8 = $(`<div id="html_280ef4ab60e503b021a80592b46892b8" style="width: 100.0%; height: 100.0%;">Condesa, Ciudad de México</div>`)[0];
                popup_6cb696f50ab3365cd99c6899479db021.setContent(html_280ef4ab60e503b021a80592b46892b8);
            
        

        marker_e395a837d9daede0257a6ff196dae357.bindPopup(popup_6cb696f50ab3365cd99c6899479db021)
        ;

        
    
    
            var marker_ad408c323d0f1dd71d78d722d9dadfcb = L.marker(
                [19.427, -99.1676],
                {}
            ).addTo(map_511390488092287ace23806e4bc3968a);
        
    
        var popup_003c59636067a0634569bff9f1d6e21b = L.popup({"maxWidth": "100%"});

        
            
                var html_e29484cee52b0f72a6ae76e3b9925645 = $(`<div id="html_e29484cee52b0f72a6ae76e3b9925645" style="width: 100.0%; height: 100.0%;">Ángel de la Independencia, Ciudad de México</div>`)[0];
                popup_003c59636067a0634569bff9f1d6e21b.setContent(html_e29484cee52b0f72a6ae76e3b9925645);
            
        

        marker_ad408c323d0f1dd71d78d722d9dadfcb.bindPopup(popup_003c59636067a0634569bff9f1d6e21b)
        ;

        
    
    
            var marker_af17b29f2ca278cbdcaa943a7e1c9497 = L.marker(
                [19.4276, -99.1675],
                {}
            ).addTo(map_511390488092287ace23806e4bc3968a);
        
    
        var popup_e3e06a44327009ce80e88639243aebd1 = L.popup({"maxWidth": "100%"});

        
            
                var html_87fa5cced70bc448e8472ca9dae00880 = $(`<div id="html_87fa5cced70bc448e8472ca9dae00880" style="width: 100.0%; height: 100.0%;">Reforma 222, Ciudad de México</div>`)[0];
                popup_e3e06a44327009ce80e88639243aebd1.setContent(html_87fa5cced70bc448e8472ca9dae00880);
            
        

        marker_af17b29f2ca278cbdcaa943a7e1c9497.bindPopup(popup_e3e06a44327009ce80e88639243aebd1)
        ;

        
    
    
            var marker_42ddf8f9f4fe1567a2a93ddaca330e35 = L.marker(
                [19.4257, -99.1655],
                {}
            ).addTo(map_511390488092287ace23806e4bc3968a);
        
    
        var popup_604789a662a842ce15805f8902cf717a = L.popup({"maxWidth": "100%"});

        
            
                var html_c5d841278679e5d48a155fa178b13ad9 = $(`<div id="html_c5d841278679e5d48a155fa178b13ad9" style="width: 100.0%; height: 100.0%;">Zona Rosa, Ciudad de México</div>`)[0];
                popup_604789a662a842ce15805f8902cf717a.setContent(html_c5d841278679e5d48a155fa178b13ad9);
            
        

        marker_42ddf8f9f4fe1567a2a93ddaca330e35.bindPopup(popup_604789a662a842ce15805f8902cf717a)
        ;

        
    
    
            var marker_861cca8cd4abfdb2675e3968675fe207 = L.marker(
                [19.415, -99.1574],
                {}
            ).addTo(map_511390488092287ace23806e4bc3968a);
        
    
        var popup_17770a763858ccf5bcfdc8816de46f01 = L.popup({"maxWidth": "100%"});

        
            
                var html_aac21b388a5bcd7c80e02c1ce138c4fb = $(`<div id="html_aac21b388a5bcd7c80e02c1ce138c4fb" style="width: 100.0%; height: 100.0%;">Roma, Ciudad de México</div>`)[0];
                popup_17770a763858ccf5bcfdc8816de46f01.setContent(html_aac21b388a5bcd7c80e02c1ce138c4fb);
            
        

        marker_861cca8cd4abfdb2675e3968675fe207.bindPopup(popup_17770a763858ccf5bcfdc8816de46f01)
        ;

        
    
    
            var poly_line_8ed03450b6b84ac9707160120b8d8a67 = L.polyline(
                [[19.4144, -99.1768], [19.427, -99.1676], [19.4276, -99.1675], [19.4257, -99.1655], [19.415, -99.1574]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_511390488092287ace23806e4bc3968a);
        
</script>
</html>