<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a19a0319ea6750ce35765338f70da65d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_a19a0319ea6750ce35765338f70da65d" ></div>
        
</body>
<script>
    
    
            var map_a19a0319ea6750ce35765338f70da65d = L.map(
                "map_a19a0319ea6750ce35765338f70da65d",
                {
                    center: [20.591949, -100.385467],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a23860a9b06686e3bd3265b17ddc5e85 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
                tile_layer_a23860a9b06686e3bd3265b17ddc5e85.addTo(map_a19a0319ea6750ce35765338f70da65d);
    
            var tile_layer_49d35053f2a4ff6ccf9584731fbafa49 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "OpenStreetMap", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
                tile_layer_49d35053f2a4ff6ccf9584731fbafa49.addTo(map_a19a0319ea6750ce35765338f70da65d);
    
            var tile_layer_df722a3938870a13c8cc5d382aa9c826 = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Esri World Imagery", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
                tile_layer_df722a3938870a13c8cc5d382aa9c826.addTo(map_a19a0319ea6750ce35765338f70da65d);
    
            var layer_control_283ad91f5f19ebf233e85f8cfd13c6f1_layers = {
                base_layers : {
                    "openstreetmap" : tile_layer_a23860a9b06686e3bd3265b17ddc5e85,
                    "Mapa" : tile_layer_49d35053f2a4ff6ccf9584731fbafa49,
                    "Sat\u00e9lite" : tile_layer_df722a3938870a13c8cc5d382aa9c826,
                },
                overlays :  {
                },
            };
            let layer_control_283ad91f5f19ebf233e85f8cfd13c6f1 = L.control.layers(
                layer_control_283ad91f5f19ebf233e85f8cfd13c6f1_layers.base_layers,
                layer_control_283ad91f5f19ebf233e85f8cfd13c6f1_layers.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_a19a0319ea6750ce35765338f70da65d);

        
    
            var marker_40a361f27b453123205474832d0abbab = L.marker(
                [20.591949, -100.385467],
                {}
            ).addTo(map_a19a0319ea6750ce35765338f70da65d);
        
    
        var popup_665f509a718fe0b7886ce5b3dcf7a870 = L.popup({"maxWidth": "100%"});

        
            
                var html_d21ee3925ddebdcb80f0c82687114d40 = $(`<div id="html_d21ee3925ddebdcb80f0c82687114d40" style="width: 100.0%; height: 100.0%;">Santiago de Queretaro, Queretaro</div>`)[0];
                popup_665f509a718fe0b7886ce5b3dcf7a870.setContent(html_d21ee3925ddebdcb80f0c82687114d40);
            
        

        marker_40a361f27b453123205474832d0abbab.bindPopup(popup_665f509a718fe0b7886ce5b3dcf7a870)
        ;

        
    
    
            var marker_ee7214f4a8e583a4980d32f2a2862232 = L.marker(
                [20.397284, -99.98272],
                {}
            ).addTo(map_a19a0319ea6750ce35765338f70da65d);
        
    
        var popup_cda5f04b878e6b5e063ae067bb9a0a3b = L.popup({"maxWidth": "100%"});

        
            
                var html_9646eacfdb207e4d88f4e8c5dc30ec91 = $(`<div id="html_9646eacfdb207e4d88f4e8c5dc30ec91" style="width: 100.0%; height: 100.0%;">San, Juan del Rio, Queretaro</div>`)[0];
                popup_cda5f04b878e6b5e063ae067bb9a0a3b.setContent(html_9646eacfdb207e4d88f4e8c5dc30ec91);
            
        

        marker_ee7214f4a8e583a4980d32f2a2862232.bindPopup(popup_cda5f04b878e6b5e063ae067bb9a0a3b)
        ;

        
    
    
            var marker_54e87790202eda5283d49c51914bc6dc = L.marker(
                [20.045647, -99.580436],
                {}
            ).addTo(map_a19a0319ea6750ce35765338f70da65d);
        
    
        var popup_5bd48bd663d68b37bf40f66e2b83717f = L.popup({"maxWidth": "100%"});

        
            
                var html_1d5ae46b2e40aa32fd5b33b1d7a4abba = $(`<div id="html_1d5ae46b2e40aa32fd5b33b1d7a4abba" style="width: 100.0%; height: 100.0%;">Troquelados Modulares S.A de C.V, San Miguel de la Victoria</div>`)[0];
                popup_5bd48bd663d68b37bf40f66e2b83717f.setContent(html_1d5ae46b2e40aa32fd5b33b1d7a4abba);
            
        

        marker_54e87790202eda5283d49c51914bc6dc.bindPopup(popup_5bd48bd663d68b37bf40f66e2b83717f)
        ;

        
    
    
            var marker_50fa659cec7aa1ea73d2e6e15c9bb90c = L.marker(
                [19.972762, -99.52607],
                {}
            ).addTo(map_a19a0319ea6750ce35765338f70da65d);
        
    
        var popup_6fe8cd230dc99eb0ece9732990b77d76 = L.popup({"maxWidth": "100%"});

        
            
                var html_5f2bdbd4ffc8b80afef9bbf7807686c5 = $(`<div id="html_5f2bdbd4ffc8b80afef9bbf7807686c5" style="width: 100.0%; height: 100.0%;">Truper Planta, Jilotepec de Molina Enriquez, Carretera Jilotepec - San Agustin</div>`)[0];
                popup_6fe8cd230dc99eb0ece9732990b77d76.setContent(html_5f2bdbd4ffc8b80afef9bbf7807686c5);
            
        

        marker_50fa659cec7aa1ea73d2e6e15c9bb90c.bindPopup(popup_6fe8cd230dc99eb0ece9732990b77d76)
        ;

        
    
    
            var marker_8b7e4dd5a313580817e65b7373c89a8f = L.marker(
                [19.996887, -99.517169],
                {}
            ).addTo(map_a19a0319ea6750ce35765338f70da65d);
        
    
        var popup_fc3a8e76d23222580ed7760e9d03e021 = L.popup({"maxWidth": "100%"});

        
            
                var html_5717e5d53c0e6b314f5db80d59d6dec1 = $(`<div id="html_5717e5d53c0e6b314f5db80d59d6dec1" style="width: 100.0%; height: 100.0%;">Embotelladora Niagara de Mexico, Soyaniquilpan de Juarez</div>`)[0];
                popup_fc3a8e76d23222580ed7760e9d03e021.setContent(html_5717e5d53c0e6b314f5db80d59d6dec1);
            
        

        marker_8b7e4dd5a313580817e65b7373c89a8f.bindPopup(popup_fc3a8e76d23222580ed7760e9d03e021)
        ;

        
    
    
            var marker_46d15fea605a6f7af21d3804172f12dc = L.marker(
                [20.064901, -99.340475],
                {}
            ).addTo(map_a19a0319ea6750ce35765338f70da65d);
        
    
        var popup_436f20cec9f3885e06181a1eafcd9d60 = L.popup({"maxWidth": "100%"});

        
            
                var html_489afbede4f46fcc5fcbeaeaffd7a9be = $(`<div id="html_489afbede4f46fcc5fcbeaeaffd7a9be" style="width: 100.0%; height: 100.0%;">Atlantes de Tula, Tula de Allende, Hidalgo</div>`)[0];
                popup_436f20cec9f3885e06181a1eafcd9d60.setContent(html_489afbede4f46fcc5fcbeaeaffd7a9be);
            
        

        marker_46d15fea605a6f7af21d3804172f12dc.bindPopup(popup_436f20cec9f3885e06181a1eafcd9d60)
        ;

        
    
    
            var marker_d0622632cc3c4b902a39a3408f614ef9 = L.marker(
                [19.902769, -99.338049],
                {}
            ).addTo(map_a19a0319ea6750ce35765338f70da65d);
        
    
        var popup_b8f0df246bac60f0320261f0089d91b5 = L.popup({"maxWidth": "100%"});

        
            
                var html_b5e56752bd21ee9af98922d6d91ae658 = $(`<div id="html_b5e56752bd21ee9af98922d6d91ae658" style="width: 100.0%; height: 100.0%;">Cinepolis, Tepeji del Rio de Ocampo, Hidalgo</div>`)[0];
                popup_b8f0df246bac60f0320261f0089d91b5.setContent(html_b5e56752bd21ee9af98922d6d91ae658);
            
        

        marker_d0622632cc3c4b902a39a3408f614ef9.bindPopup(popup_b8f0df246bac60f0320261f0089d91b5)
        ;

        
    
    
            var marker_5fbcfe58cff71a369264da4a76455260 = L.marker(
                [19.838984, -99.210087],
                {}
            ).addTo(map_a19a0319ea6750ce35765338f70da65d);
        
    
        var popup_3549cfe3bed5fa9c71ce205a4c3b8493 = L.popup({"maxWidth": "100%"});

        
            
                var html_705dfbb0e5b5b37d424cfb15be5ed55a = $(`<div id="html_705dfbb0e5b5b37d424cfb15be5ed55a" style="width: 100.0%; height: 100.0%;">Bodega Aurrera, Huehuetoca, Edo. Mex</div>`)[0];
                popup_3549cfe3bed5fa9c71ce205a4c3b8493.setContent(html_705dfbb0e5b5b37d424cfb15be5ed55a);
            
        

        marker_5fbcfe58cff71a369264da4a76455260.bindPopup(popup_3549cfe3bed5fa9c71ce205a4c3b8493)
        ;

        
    
    
            var marker_4d1b675ddeae0a0ac0bd92f1d3ce3495 = L.marker(
                [19.659735, -99.210921],
                {}
            ).addTo(map_a19a0319ea6750ce35765338f70da65d);
        
    
        var popup_92533ab2b55ba26c7cac4dfd502caae2 = L.popup({"maxWidth": "100%"});

        
            
                var html_7034d2cd60f8d8d8fa77daf4bbf8cc7b = $(`<div id="html_7034d2cd60f8d8d8fa77daf4bbf8cc7b" style="width: 100.0%; height: 100.0%;">Luna Parc, Cuautitlan Izcalli, Edo. Mex</div>`)[0];
                popup_92533ab2b55ba26c7cac4dfd502caae2.setContent(html_7034d2cd60f8d8d8fa77daf4bbf8cc7b);
            
        

        marker_4d1b675ddeae0a0ac0bd92f1d3ce3495.bindPopup(popup_92533ab2b55ba26c7cac4dfd502caae2)
        ;

        
    
    
            var marker_4076bbc57ad46f1a2f5260fa385285d9 = L.marker(
                [19.425602, -99.090767],
                {}
            ).addTo(map_a19a0319ea6750ce35765338f70da65d);
        
    
        var popup_bec29fc1ab201368c03e180b53806c63 = L.popup({"maxWidth": "100%"});

        
            
                var html_3fca35ebe19457d64339a1f50b23c81d = $(`<div id="html_3fca35ebe19457d64339a1f50b23c81d" style="width: 100.0%; height: 100.0%;">AICM, CDMX, Mexico</div>`)[0];
                popup_bec29fc1ab201368c03e180b53806c63.setContent(html_3fca35ebe19457d64339a1f50b23c81d);
            
        

        marker_4076bbc57ad46f1a2f5260fa385285d9.bindPopup(popup_bec29fc1ab201368c03e180b53806c63)
        ;

        
    
    
            var poly_line_6f354a9573632b89305394763a4be292 = L.polyline(
                [[20.591949, -100.385467], [20.397284, -99.98272], [20.045647, -99.580436], [19.972762, -99.52607], [19.996887, -99.517169], [20.064901, -99.340475], [19.902769, -99.338049], [19.838984, -99.210087], [19.659735, -99.210921], [19.425602, -99.090767]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_a19a0319ea6750ce35765338f70da65d);
        
</script>
</html>